/* color palette :
very dark blue : #182833
dark blue : #153040
blue : #1f4762
yellow : #fda300
pale yellow : #ffc619
cream : #e09f5a */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

body {
    background-color: aliceblue;
    font-family: "Overpass", sans-serif;
    scroll-behavior: smooth;
}

header {
    background-color: #153040;
}

.first-navbar {
    background-color: #182833;
}

.first-navbar > li {
    margin-right: 10px;
}

.nav-level1 {
    color: whitesmoke;
    font-family: 'Bebas Neue', cursive;
    font-size: x-large;
}

.nav-level1:hover {
    color: #fda300;
    text-shadow:0px 0px 20px #fdec6e;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.navbar-toggler {
    background-color: black;
}

.navbar-brand > h1 {
    color: whitesmoke;
    font-size: larger;
    font-family: 'Oswald', sans-serif;
    margin-left: 10px;
}

.navbar-brand > h1:hover {
    color: #fda300;
    text-shadow:0px 0px 20px #fdec6e;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}


.banner {
    background-color: #1f4762;
    border-radius: 5px;
    padding: 10px 0px;
}

.bx {
    background-color: rgba(0, 0, 0, 0.9);
}

.cc {
    background-color: #1f4762;
    color: whitesmoke;
}

.cc:hover {
    color: whitesmoke;
    box-shadow: 0 5px 15px black;
    text-decoration: none;
}

.go {
    background-color: #e09f5a;
    color: black;
    font-weight: bolder;
}

.go:hover {
    background-color: black;
    color: #fda300;
    text-shadow:0px 0px 20px #fdec6e;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

footer {
    color: #182833;
    bottom: 0;
    width: 100%;
    margin-top: 5em;
}


